.hidden {
    display: none;
}

main, html {
    /* JUST FOR SLIDE */
    overflow-x: hidden;
}

.overflow-hidden {
    overflow-x: hidden;
}

main {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* OVERRIDE */
    overflow-x: visible;
}

.dropdown-toggle {
    height: 100px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 300px;
}

.btn {
    font-size: 28px;
    background-color: #87CEFA;
}

#button-div {
    height: 100px;
}

.btn-info {
    color: black;
}